<footer class='main-footer'>

<!--<div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
          <li><a href="/sale">Скидки</a></li>
          <li><a href="{{ contact }}">Контакты</a></li>
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>-->

  <div class="footer-cnt">
  	<div class="container">
  		<div class="row vertical-allign-cnt">

  			<div class="col-sm-4 col-md-3 col-xs-4 vertical-allign">
  				<div id="logo" class="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}</div>
  			</div>

				<div class="col-md-5 hidden-sm hidden-xs vertical-allign">
					<nav class="footer-menu">
						{% if informations %}
              <ul class="nav navbar-nav">
               <!--{% for information in informations %}
                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}-->
                <li><a href="/sale">Скидки</a></li>
                <li><a href="{{ contact }}">Контакты</a></li>
              </ul>
            {% endif %}
					</nav>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-4 vertical-allign">
					<nav class="nav-social">
						<ul>
							<li><a href="http://vk.com" rel="nofollow" target="_blank"><i class="fa fa-vk"></i></a></li>
							<li><a href="http://instagram.com" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li class="egg"><img class="egg-img" src="\catalog\view\theme\apple\image\small.png"></img></li>
						</ul>
					</nav>
				</div>

        <div class="col-md-2 col-xs-4 col-sm-4 vertical-allign">
          <div class="fassoft">
            <img src="\catalog\view\theme\apple\image\fassoft.png" alt="">
          </div>
        </div>

      

  		</div>
  	</div>
  </div>
	
	<div class="footer-phone">
		 <div class="container">
		 	<div class="row">
		 		<div class="col-sm-12">
		 			<div class="site-phone_wrap">
		 				<div class="site-phone">{{ telephone }}</div>
						<a href="#callback" class='callback'>Заказать звонок</a>
		 			</div>
		 		</div>
		 	</div>
		 </div>
	</div>

</footer>
 
	<div id="callback" class="callback-form product-popup">
			<form class="ajax-form">
			
				<h2>Заказать звонок</h2>
				<p>Введите номер телефона и наш менеджер перезвонит вам в течении <strong>15 минут</strong></p>	
				<!-- Hidden Required Fields -->
				<input type="hidden" name="project_name" value="Protein16.ru">
				<input type="hidden" name="admin_email" value="admin@mail.com">
				<input type="hidden" name="form_subject" value="Заявка с сайта Protein16.ru">
				<!-- END Hidden Required Fields -->
		
				<div class='form-control-cnt'><input autocomplete='off' class='form-control' type="text" name="Телефон" placeholder="Введите ваш телефон"  required>
				<button class="btn btn-primary">Заказать</button> </div>

			</form>
		<div class="success">Спасибо за заявку</div>
	</div>



{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>